{{!
/*********************************************************************************
 AMPEL LIST
 ********************************************************************************/
}}
<span>
<img src="{{def.ampel}}" />
</span>
